:root {
  --black: #000000ff;
  --blackAlpha40: #00000066;
  --blackAlpha50: #0000007f;
  --blackAlpha56: #0000008e;
  --blackAlpha80: #000000cc;
  --woodSmoke: #0f1412ff;
  --woodSmokeAlpha18: #0f14122d;
  --woodSmokeAlpha29: #0f141249;
  --woodSmokeAlpha40: #0f141266;
  --woodSmokeAlpha78: #0f1412c6;
  --woodSmokeAlpha80: #0f1412cc;
  --white: #ffffffff;
  --whiteAlpha6: #fffffff.;
  --whiteAlpha8: #ffffff14;
  --whiteAlpha10: #ffffff19;
  --whiteAlpha20: #ffffff33;
  --whiteAlpha25: #ffffff3f;
  --whiteAlpha36: #ffffff5b;
  --whiteAlpha40: #ffffff66;
  --whiteAlpha50: #ffffff7f;
  --whiteAlpha60: #ffffff99;
  --whiteAlpha80: #ffffffcc;
  --whiteAlpha87: #ffffffdd;
  --whiteAlpha75: #ffffffbf;
  --corduroy: #757c7bff;
  --corduroy2: #686b6bff;
  --corduroy3: #606562ff;
  --caribbeanGreen: #00e89aff;
  --caribbeanGreenAlpha10: #00e89a19;
  --caribbeanGreenAlpha20: #00e89a33;
  --caribbeanGreenAlpha40: #00e89a66;
  --caribbeanGreenAlpha80: #00e89acc;
  --jade: #00b276ff;
  --gunSmoke: #767c7aff;
  --gunSmoke2: #818683ff;
  --mineShaft: #212121ff;
  --capeCod: #343736ff;
  --capeCod2: #3a3d3cff;
  --capeCod3: #2a2e2cff;
  --capeCod3Alpha90: #2a2e2ce5;
  --heavyMetal: #232725ff;
  --redOrange: #fd3b31ff;
  --persimmon: #ff5353ff;
  --flamingo: #f44b42ff;
  --flamingoAlpha10: #f44b4219;
  --flamingoAlpha20: #f44b4233;
  --persimmonAlpha10: #ff535319;
  --doveGray: #696969ff;
  --pewter: #9ea09fff;
  --mediumPurple: #a358dfff;
  --pumice: #bdbfbeff;
  --cornflowerBlue: #818683ff;
  --gallery: #ecececff;
  --heavyMetal2: #272c29ff;
  --heavyMetal2Alpha29: #272c2949;
  --alto: #dfdfdfff;
  --red: #ff0000ff;
  --transparent: #00000000;
  --gallery_selected: #78ffffff;
  --avi_almost_black: #0a0314ff;
  --avi_almost_black_darker: #05020aff;
  --avi_almost_white: #fff0f0ff;
  --avi_almost_white_darker: #e1d2dcff;
  --avi_red: #e10000ff;
  --home_tint: #c5cfefff;
  --cv_tint: #fccccdff;
  --portfolio_tint: #c2fed4ff;
  --gallery_tint: #e0ffffff;
  --links_tint: #fff8b5ff;
  --about_tint: #d8c9ecff;
  --contact_tint: #c3e1ffff;
  --link_text: #33b6f4ff;
  --text_shadow: #00006fbf;
}